{% extends 'base.html' %}
{% load static %}
{% load myfilters %}
{% load bootstrap %}}
{% block content %}

<style>
    .main-area{
    display: flex;
    align-items: center;

    }
</style>
    {% block title %}
        Companies
    {% endblock %}
<div class="'main-area ml-4 mr-4">
    <form method="GET">
        {{filter.form | bootstrap}}
        <button type="submit" id='myBtn' class="'btn btn-primary center">Search</button>
    </form>

    <table class="table">
      <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Company</th>
            <th scope="col">Legal Name</th>
            <th scope="col">Dot</th>
            <th scope="col">Address</th>
        </tr>
      </thead>
        <hr>
      <tbody>
      {% for data in company_page_obj %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><a href="{% url 'company_detail' data.id %}">{{data.name}}</a></td>
            <td>{{data.legal_name}}</td>
            <td>{{data.dot}}</td>
            <td>{{data.addresses.city}}</td>

        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

    <div class="'pagination d-flex justify-content-center font-weight-bold">
        <span class="step-links">
            {% if company_page_obj.has_previous %}
                <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; First</a>
                <a href="{% my_url company_page_obj.previous_page_number 'page' request.GET.urlencode %}">&laquo; Previous  </a>
            {% endif %}

                <span class="current font-weight-bold">
                    Page {{ company_page_obj.number  }} of {{ company_page_obj.paginator.num_pages }}.
                </span>

            {% if company_page_obj.has_next %}
                <a href="{% my_url company_page_obj.next_page_number 'page' request.GET.urlencode %}">&raquo; Next</a>
                <a href="{% my_url company_page_obj.paginator.num_pages 'page' request.GET.urlencode %}"> &raquo; Last</a>
            {% endif %}
        </span>
    </div>
<hr>

{% endblock %}