{% extends 'base.html' %}
{% load static %}
{% load myfilters %}
{% load bootstrap %}}
{% block content %}

<style>
    .main-area{
    display: flex;
    align-items: center;

    }
</style>

<div class="'main-area ml-4 mr-4">
    <form method="GET">
        {{filter.form | bootstrap}}
        <button type="submit" id='myBtn' class="'btn btn-primary">Search</button>
    </form>
    {% for data in filter.qs %}
        {{ data.id }} {{ data.name }}
    <br>
    {% endfor %}


</div>
    <script>
        // Get the input field
        var input = document.getElementById("id_name__icontains");

        // Execute a function when the user presses a key on the keyboard
        input.addEventListener("keyup", function(event) {
          // If the user presses the "Enter" key on the keyboard
          if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("myBtn").click();
          }
        });
    </script>
{% endblock %}