{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="card shadow-sm">
        <div class="card-header">
            <h3>Filters form</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="row">
                    <div class="col-md-4 mb-3 mt-3">
                        <label for="text" class="form-label">DOT_NUMBER:</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="col-md-4 mb-3 mt-3">
                        <label for="text" class="form-label">LEGAL_NAME:</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-md-4 mb-3 mt-3">
                        <label for="text" class="form-label">DBA_NAME:</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-md-4 mb-3 mt-3">
                        <label for="text" class="form-label">DBA_NAME:</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-md-4 mb-3 mt-3">
                        <label for="text" class="form-label">MAILING_STREET:</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-md-4 mb-3 mt-3">
                        <label for="text" class="form-label">MAILING_CITY:</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-md-4 mb-3 mt-3">
                        <label for="text" class="form-label">MAILING_STATE:</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-md-4 mb-3 mt-3">
                        <label for="text" class="form-label">MAILING_ZIP:</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-md-4 mb-3 mt-3">
                        <label for="text" class="form-label">MAILING_COUNTRY:</label>
                        <input type="text" class="form-control">
                    </div>


                    <div class="col-md-4 mb-3 mt-3">
                        <label for="text" class="form-label">TELEPHONE:</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-md-4 mb-3 mt-3">
                        <label for="text" class="form-label">EMAIL_ADDRESS:</label>
                        <input type="email" class="form-control">
                    </div>

                    <div class="col-md-4 mb-3 mt-3">
                        <label for="text" class="form-label">NBR_POWER_UNIT:</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-md-4 mb-3 mt-3">
                        <label for="text" class="form-label">DRIVER_TOTAL:</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="col-md-12 mb-3 mt-3 text-center">
                        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}

         